:root {
  --btn: #00eeff;
  --bg: #0f0f0f;
  --shadow: 0 2px 2px rgba(0,0,0,0.5);
  --btn2: #e7e7e7;
}

body{
  font-size: 1.2rem;
  font-family: "Work Sans", sans-serif;
  /* font-style: var(--text); */
  /* min-height: 4000px; */
}

.hero::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(img/04.jpg);
  z-index: -1 ;
  filter: opacity(0.9);
  background-size: cover;
  background-position: center;
}

.hero{
  position: relative;
  min-height: 100vh;
  /* background-color: var(--bg); */
}

.hero h4{
  font-size: 1.6rem;
}

.hero h1, .hero h4, .hero p{
  text-shadow: var(--shadow);
}

.hero h1{
  font-family: "Great Vibes", cursive;
  font-size: 6rem;
}

.hero a{
  color: var(--btn);
  background-color: var(--btn2);
  box-shadow: var(--shadow);
}

.hero a:hover{
  color: var(--btn2);
  background-color: var(--btn);
}


.mynavbar{
  background-color: rgba(255, 255, 255, 0.4) !important;
}

.mynavbar .navbar-brand, .mynavbar .offcanvas-title{
  font-family: "Great Vibes", cursive;
  font-size: 2rem;
  font-weight: bold;
}

.mynavbar .nav-link{
  font-weight: 600;
}


.home{
  background-image: url(img/09.png);
  background-size: cover;
  min-height: 100vh;
  margin-top: -6rem;
  padding-top: 15rem;
  padding-bottom: 5rem;
}

/* media Query */
/* laptop */
@media (max-width: 992px) {
  html{
    font-size: 75%;
  }
}

/* tablet */
@media (max-width: 768px) {
  html{
    font-size: 65%;
  }

  .mynavbar .nav-link{
    font-weight: 600;
    text-align: center;
    font-size: 2rem;
  }
}

/* phone */
@media (max-width: 576px) {
  html{
    font-size: 60%;
  }
}